/* == CSS reset == */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt,
b, u, i, center,
dl, dt, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: sans-serif;
	vertical-align: baseline;
}


/* == Global Settings == */
body {
  font-size: 1em;
  font-family: sans-serif, Arial;
  margin: 0 auto;
  color: #3f3f3f;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  color: #3f3f3f;
  text-decoration: none;
}

h1, h4 {
  color: #ffffff;
}

/* == Header == */
header {
  background-color: #3f3f3f;
  width: 100%;
  position: fixed;
  top: 0px;
}

nav{
  display: flex;
  justify-content: center;
  height: 5em;
}

nav ul {
  display: flex;
  align-items: center;
}

nav a {
  color: #ffffff;
  border-radius: 4px;
  padding: 15px 25px;
  border: 1px solid #646d7c;
  margin: 5px;
}

@media (min-width: 786px) {
  nav{
    display: flex;
    justify-content: center;
    height: 5em;
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  nav a {
    color: #ffffff;
    border-radius: 4px;
    padding: 15px 25px;
    border: 1px solid #646d7c;
    margin: 5px;
  }
}

/* == intro and Main == */
.intro {
  background-image: url(/img/bigimage1.jpg);
  background-size: cover;
  background-position: center;
  height: 25em;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 5em auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main a {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #644d7c;
  margin: 5px;
}

div div {
  background-color: #dddddd;
  padding-bottom: 2em;
}

div {
  margin-bottom: 1em;
}

.first-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

.our-services {
  background-image: url(/img/bigimage2.jpg);
  height: 24em;
  width: 320px;
  text-align: center;
}
